In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('F://bikebuyer.csv')
data.head()

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,22711.0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,13555.0,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
2,NaN,Married,Male,160000,5.0,Partial College,Professional,No,3,2.0,Europe,55,No
3,2.0,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
4,25410.0,NaN,Female,70000,2.0,Bachelors,Skilled Manual,No,1,1.0,North America,38,Yes

In [5]:
data.dtypes

ID                  float64
Marital Status       object
Gender               object
Yearly Income         int64
Children            float64
Education            object
Occupation           object
Home Owner           object
Cars                  int64
Commute Distance    float64
Region               object
Age                   int64
Bike Buyer           object
dtype: object

In [4]:
data['Yearly Income'].value_counts()

60000     1291
40000      906
70000      852
30000      834
20000      690
80000      548
10000      509
90000      296
100000     239
50000      226
110000     197
130000     186
120000     127
150000      37
160000      29
170000      28
0            2
Name: Yearly Income, dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6997 entries, 0 to 6996
Data columns (total 13 columns):
ID                  6996 non-null float64
Marital Status      6981 non-null object
Gender              6968 non-null object
Yearly Income       6997 non-null int64
Children            6979 non-null float64
Education           6997 non-null object
Occupation          6997 non-null object
Home Owner          6997 non-null object
Cars                6997 non-null int64
Commute Distance    6968 non-null float64
Region              6997 non-null object
Age                 6997 non-null int64
Bike Buyer          6997 non-null object
dtypes: float64(3), int64(3), object(7)
memory usage: 710.7+ KB

In [6]:
data.isnull().sum()

ID                   1
Marital Status      16
Gender              29
Yearly Income        0
Children            18
Education            0
Occupation           0
Home Owner           0
Cars                 0
Commute Distance    29
Region               0
Age                  0
Bike Buyer           0
dtype: int64

In [7]:
data.isnull().any()

ID                   True
Marital Status       True
Gender               True
Yearly Income       False
Children             True
Education           False
Occupation          False
Home Owner          False
Cars                False
Commute Distance     True
Region              False
Age                 False
Bike Buyer          False
dtype: bool

In [8]:
data.isnull().sum()

ID                   1
Marital Status      16
Gender              29
Yearly Income        0
Children            18
Education            0
Occupation           0
Home Owner           0
Cars                 0
Commute Distance    29
Region               0
Age                  0
Bike Buyer           0
dtype: int64

In [11]:
data1= data.dropna()
data1

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,22711.0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,13555.0,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
3,2.0,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
7,11085.0,Single,Female,60000,0.0,High School,Professional,No,2,1.0,North America,49,No
9,21008.0,Single,Female,20000,1.0,Partial College,Manual,No,0,1.0,Europe,46,Yes
10,28985.0,Single,Male,50000,0.0,Bachelors,Management,No,2,2.0,North America,64,No
11,11087.0,Married,Female,70000,2.0,Partial College,Professional,No,0,11.0,North America,49,No
14,11091.0,Married,Male,90000,0.0,Partial College,Professional,Yes,1,1.0,North America,49,No
15,11094.0,Single,Male,70000,0.0,Partial College,Skilled Manual,No,1,1.0,Pacific,44,No
16,18568.0,Single,Female,50000,2.0,Bachelors,Skilled Manual,Yes,1,2.0,North America,39,Yes
17,16366.0,Married,Female,40000,0.0,Partial College,Clerical,Yes,1,1.0,North America,51,Yes
18,20768.0,Single,Male,0,0.0,Partial College,Clerical,Yes,1,2.0,North America,48,Yes
20,18269.0,Single,Female,60000,2.0,Bachelors,Professional,Yes,2,1.0,Pacific,43,Yes
22,11113.0,Married,Male,70000,4.0,Bachelors,Professional,Yes,2,1.0,Pacific,44,No
24,11114.0,Single,Female,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
25,23612.0,Single,Female,90000,0.0,Partial College,Professional,No,2,1.0,Europe,62,Yes
26,11115.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
27,11116.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,9.0,Pacific,44,No
29,19441.0,Single,Male,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
30,11103.0,Single,Female,70000,0.0,Bachelors,Professional,Yes,1,1.0,Pacific,42,Yes
31,11104.0,Married,Male,70000,0.0,Bachelors,Professional,No,1,1.0,Pacific,42,Yes
32,15834.0,Single,Female,40000,0.0,Partial College,Skilled Manual,No,1,6.0,North America,30,Yes
33,20824.0,Single,Male,30000,0.0,Bachelors,Clerical,Yes,0,2.0,Europe,63,Yes
35,11121.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,1.0,Pacific,45,No
36,11122.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,1.0,Pacific,46,No
37,11123.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,2.0,Pacific,46,No
38,11125.0,Single,Female,70000,0.0,Partial College,Skilled Manual,Yes,1,2.0,Pacific,50,No
39,11127.0,Married,Female,40000,0.0,High School,Skilled Manual,Yes,1,1.0,North America,31,No
40,21969.0,Single,Female,70000,0.0,Bachelors,Professional,No,1,1.0,Pacific,38,Yes
41,19869.0,Married,Female,70000,1.0,Partial College,Professional,Yes,2,8.0,North America,58,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6967,22779.0,Married,Male,60000,1.0,Partial College,Professional,Yes,2,2.0,North America,54,No
6968,22781.0,Married,Male,70000,2.0,Partial College,Professional,Yes,1,1.0,North America,55,No
6969,22783.0,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,2,1.0,North America,54,No
6970,22786.0,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,3,2.0,North America,54,No
6971,22792.0,Married,Male,70000,3.0,Partial College,Professional,Yes,1,7.0,North America,53,No
6972,22793.0,Single,Male,70000,3.0,Partial College,Professional,Yes,1,8.0,North America,53,No
6973,22794.0,Married,Female,130000,4.0,Partial College,Professional,Yes,1,9.0,Europe,48,No
6974,22795.0,Married,Female,110000,4.0,Partial College,Professional,Yes,3,2.0,Europe,49,No
6975,22796.0,Married,Male,110000,4.0,Partial College,Professional,No,3,3.0,Europe,49,No
6976,22798.0,Married,Female,150000,3.0,High School,Professional,Yes,4,5.0,Europe,49,No
6977,22799.0,Married,Female,120000,4.0,Partial High School,Professional,No,4,6.0,Europe,50,No
6978,22801.0,Married,Female,110000,4.0,Partial College,Professional,Yes,4,7.0,Europe,51,No
6979,22802.0,Single,Female,120000,4.0,Partial High School,Professional,Yes,4,1.0,Europe,51,No
6980,22804.0,Married,Female,80000,1.0,Partial College,Professional,Yes,2,2.0,Europe,51,No
6981,22805.0,Married,Female,80000,0.0,Bachelors,Management,Yes,2,1.0,Europe,62,No
6982,22806.0,Married,Female,90000,0.0,Partial College,Professional,Yes,2,1.0,Europe,62,No
6983,22807.0,Married,Female,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,62,No
6984,22809.0,Married,Male,80000,0.0,Partial College,Professional,Yes,2,7.0,Europe,61,No
6985,22811.0,Married,Male,110000,4.0,Bachelors,Management,Yes,4,8.0,Europe,61,No
6986,22812.0,Married,Female,120000,4.0,Bachelors,Management,Yes,4,9.0,Europe,61,No
6987,22813.0,Married,Male,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,61,No
6988,22814.0,Married,Male,100000,3.0,Bachelors,Management,Yes,4,3.0,Europe,60,No
6989,22815.0,Married,Female,100000,4.0,Bachelors,Management,Yes,1,5.0,Europe,60,No
6990,22818.0,Married,Female,150000,4.0,Graduate Degree,Management,Yes,4,6.0,Europe,60,No
6991,22819.0,Married,Female,80000,2.0,Partial College,Professional,Yes,2,7.0,Europe,53,No
6992,22820.0,Married,Male,100000,4.0,High School,Professional,Yes,3,1.0,Europe,52,No
6993,22821.0,Married,Female,130000,4.0,Partial College,Professional,Yes,4,2.0,Europe,52,No
6994,22823.0,Married,Female,160000,5.0,Bachelors,Management,Yes,2,1.0,Europe,53,No
6995,22825.0,Single,Female,120000,5.0,Partial College,Professional,Yes,3,1.0,Europe,54,No
6996,22826.0,Married,Male,130000,5.0,High School,Professional,Yes,3,2.0,Europe,54,No

In [13]:
data1.isnull().sum()

ID                  0
Marital Status      0
Gender              0
Yearly Income       0
Children            0
Education           0
Occupation          0
Home Owner          0
Cars                0
Commute Distance    0
Region              0
Age                 0
Bike Buyer          0
dtype: int64

In [18]:
data1.head()

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,22711.0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,13555.0,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
3,2.0,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
7,11085.0,Single,Female,60000,0.0,High School,Professional,No,2,1.0,North America,49,No
9,21008.0,Single,Female,20000,1.0,Partial College,Manual,No,0,1.0,Europe,46,Yes

In [14]:
data1.drop(labels='ID',axis=1,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [21]:
data1

,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
3,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
7,Single,Female,60000,0.0,High School,Professional,No,2,1.0,North America,49,No
9,Single,Female,20000,1.0,Partial College,Manual,No,0,1.0,Europe,46,Yes
10,Single,Male,50000,0.0,Bachelors,Management,No,2,2.0,North America,64,No
11,Married,Female,70000,2.0,Partial College,Professional,No,0,11.0,North America,49,No
14,Married,Male,90000,0.0,Partial College,Professional,Yes,1,1.0,North America,49,No
15,Single,Male,70000,0.0,Partial College,Skilled Manual,No,1,1.0,Pacific,44,No
16,Single,Female,50000,2.0,Bachelors,Skilled Manual,Yes,1,2.0,North America,39,Yes
17,Married,Female,40000,0.0,Partial College,Clerical,Yes,1,1.0,North America,51,Yes
18,Single,Male,0,0.0,Partial College,Clerical,Yes,1,2.0,North America,48,Yes
20,Single,Female,60000,2.0,Bachelors,Professional,Yes,2,1.0,Pacific,43,Yes
22,Married,Male,70000,4.0,Bachelors,Professional,Yes,2,1.0,Pacific,44,No
24,Single,Female,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
25,Single,Female,90000,0.0,Partial College,Professional,No,2,1.0,Europe,62,Yes
26,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
27,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,9.0,Pacific,44,No
29,Single,Male,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
30,Single,Female,70000,0.0,Bachelors,Professional,Yes,1,1.0,Pacific,42,Yes
31,Married,Male,70000,0.0,Bachelors,Professional,No,1,1.0,Pacific,42,Yes
32,Single,Female,40000,0.0,Partial College,Skilled Manual,No,1,6.0,North America,30,Yes
33,Single,Male,30000,0.0,Bachelors,Clerical,Yes,0,2.0,Europe,63,Yes
35,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,1.0,Pacific,45,No
36,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,1.0,Pacific,46,No
37,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,2.0,Pacific,46,No
38,Single,Female,70000,0.0,Partial College,Skilled Manual,Yes,1,2.0,Pacific,50,No
39,Married,Female,40000,0.0,High School,Skilled Manual,Yes,1,1.0,North America,31,No
40,Single,Female,70000,0.0,Bachelors,Professional,No,1,1.0,Pacific,38,Yes
41,Married,Female,70000,1.0,Partial College,Professional,Yes,2,8.0,North America,58,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
6967,Married,Male,60000,1.0,Partial College,Professional,Yes,2,2.0,North America,54,No
6968,Married,Male,70000,2.0,Partial College,Professional,Yes,1,1.0,North America,55,No
6969,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,2,1.0,North America,54,No
6970,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,3,2.0,North America,54,No
6971,Married,Male,70000,3.0,Partial College,Professional,Yes,1,7.0,North America,53,No
6972,Single,Male,70000,3.0,Partial College,Professional,Yes,1,8.0,North America,53,No
6973,Married,Female,130000,4.0,Partial College,Professional,Yes,1,9.0,Europe,48,No
6974,Married,Female,110000,4.0,Partial College,Professional,Yes,3,2.0,Europe,49,No
6975,Married,Male,110000,4.0,Partial College,Professional,No,3,3.0,Europe,49,No
6976,Married,Female,150000,3.0,High School,Professional,Yes,4,5.0,Europe,49,No
6977,Married,Female,120000,4.0,Partial High School,Professional,No,4,6.0,Europe,50,No
6978,Married,Female,110000,4.0,Partial College,Professional,Yes,4,7.0,Europe,51,No
6979,Single,Female,120000,4.0,Partial High School,Professional,Yes,4,1.0,Europe,51,No
6980,Married,Female,80000,1.0,Partial College,Professional,Yes,2,2.0,Europe,51,No
6981,Married,Female,80000,0.0,Bachelors,Management,Yes,2,1.0,Europe,62,No
6982,Married,Female,90000,0.0,Partial College,Professional,Yes,2,1.0,Europe,62,No
6983,Married,Female,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,62,No
6984,Married,Male,80000,0.0,Partial College,Professional,Yes,2,7.0,Europe,61,No
6985,Married,Male,110000,4.0,Bachelors,Management,Yes,4,8.0,Europe,61,No
6986,Married,Female,120000,4.0,Bachelors,Management,Yes,4,9.0,Europe,61,No
6987,Married,Male,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,61,No
6988,Married,Male,100000,3.0,Bachelors,Management,Yes,4,3.0,Europe,60,No
6989,Married,Female,100000,4.0,Bachelors,Management,Yes,1,5.0,Europe,60,No
6990,Married,Female,150000,4.0,Graduate Degree,Management,Yes,4,6.0,Europe,60,No
6991,Married,Female,80000,2.0,Partial College,Professional,Yes,2,7.0,Europe,53,No
6992,Married,Male,100000,4.0,High School,Professional,Yes,3,1.0,Europe,52,No
6993,Married,Female,130000,4.0,Partial College,Professional,Yes,4,2.0,Europe,52,No
6994,Married,Female,160000,5.0,Bachelors,Management,Yes,2,1.0,Europe,53,No
6995,Single,Female,120000,5.0,Partial College,Professional,Yes,3,1.0,Europe,54,No
6996,Married,Male,130000,5.0,High School,Professional,Yes,3,2.0,Europe,54,No

In [15]:
data1['Marital Status'].unique()

array(['Single', 'Married'], dtype=object)

In [16]:
data1['Marital Status'].value_counts()

Married    4102
Single     2807
Name: Marital Status, dtype: int64

In [17]:
data1.keys()

Index(['Marital Status', 'Gender', 'Yearly Income', 'Children', 'Education',
       'Occupation', 'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age',
       'Bike Buyer'],
      dtype='object')

In [18]:
data1['Marital Status'][data1['Bike Buyer']=='Yes'].value_counts()

Married    480
Single     472
Name: Marital Status, dtype: int64

# Assignment Questions

1. Find the number of married males that does not buy the bike
2. Find the number of Partial College Home Owners who buy the bike
3. Find the number of unmarried Professional Employees that does not buy a bike
4. Find the number of Bike Buyers where the person is from High Scool with a Yearly Income less than 62500
5. Find the number of Home Owners who buy a bike based on each region

#### Find the number of married males that does not buy the bike:

In [69]:
data1['Marital Status'][(data1['Gender']=='Male') & (data1['Bike Buyer']=='No')].value_counts()

Married    1945
Single     1106
Name: Marital Status, dtype: int64

**OR**

In [99]:
data1['Marital Status'][(data1['Gender']=='Male')&(data1['Bike Buyer']=='No')&(data1['Marital Status']=='Married')].value_counts()

Married    1945
Name: Marital Status, dtype: int64

#### Find the number of Partial College Home Owners who buy the bike:

In [75]:
(data1['Education']=='Partial College')[(data1['Home Owner']=='Yes')&(data1['Bike Buyer']=='Yes')].value_counts()

False    498
True     183
Name: Education, dtype: int64

**OR**

In [100]:
data1['Education'][(data1['Home Owner']=='Yes')&(data1['Bike Buyer']=='Yes')&(data1['Education']=='Partial College')].value_counts()

Partial College    183
Name: Education, dtype: int64

#### Find the number of unmarried Professional Employees that does not buy a bike:

In [76]:
(data1['Marital Status']=='Single')[(data1['Occupation']=='Professional')&(data1['Bike Buyer']=='No')].value_counts()

False    1157
True      555
Name: Marital Status, dtype: int64

In [101]:
data1['Marital Status'][(data1['Occupation']=='Professional')&(data1['Bike Buyer']=='No')&(data1['Marital Status']=='Single')].value_counts()

Single    555
Name: Marital Status, dtype: int64

#### Find the number of Bike Buyers where the person is from High Scool with a Yearly Income less than 62500

In [104]:
(data1['Education']=='High School')[(data1['Yearly Income']<62500)&(data1['Bike Buyer']=='Yes')].value_counts()

False    507
True      90
Name: Education, dtype: int64

**OR**

In [102]:
data1['Yearly Income'][(data1['Education']=='High School')&(data1['Bike Buyer']=='Yes')&(data1['Yearly Income']<62500)].value_counts()

30000    26
40000    22
20000    15
10000    14
60000    11
50000     2
Name: Yearly Income, dtype: int64

In [92]:
(data1['Education']).value_counts()

Partial College        1907
Bachelors              1840
High School            1298
Graduate Degree        1257
Partial High School     607
Name: Education, dtype: int64

In [96]:
data1['Bike Buyer'].value_counts()

No     5957
Yes     952
Name: Bike Buyer, dtype: int64

#### Find the number of Home Owners who buy a bike based on each region

In [105]:
data1['Region'][(data1['Home Owner']=='Yes')&(data1['Bike Buyer']=='Yes')].value_counts()

North America    340
Europe           198
Pacific          143
Name: Region, dtype: int64