In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('F://tennis.csv')

In [3]:
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [4]:
df['humidity'].value_counts()

normal    7
high      7
Name: humidity, dtype: int64

In [5]:
df['outlook'].value_counts()

rainy       5
sunny       5
overcast    4
Name: outlook, dtype: int64

In [6]:
df['temp'].value_counts()

mild    6
hot     4
cool    4
Name: temp, dtype: int64

In [7]:
df['windy'].value_counts()

False    8
True     6
Name: windy, dtype: int64

In [8]:
df['play'].value_counts()

yes    9
no     5
Name: play, dtype: int64

In [13]:
total_len_df= len(df)
total_len_df

14

### Marginal probability:

In [14]:
prob_sunny= df['outlook'][df['outlook']=='sunny'].count()/total_len_df
prob_sunny

0.35714285714285715

In [15]:
#joint probability for the day to sunny and play =yes

prob_yes=df['play'][df['play']=='yes'].count()/total_len_df
prob_yes

0.6428571428571429

In [18]:
df[(df['outlook']=='sunny') | (df['play']=='yes')]

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes

In [19]:
#union probability:

prob_sunny_or_yes= len(df[(df['outlook']=='sunny') | (df['play']=='yes')])/ total_len_df
prob_sunny_or_yes

0.8571428571428571

In [20]:
prob_sunny_and_yes= prob_sunny + prob_yes - prob_sunny_or_yes
prob_sunny_and_yes

0.1428571428571429

In [21]:
#conditional probability:
#what is the probabiity of playing tennis when it is a sunny day

# Given it is sunny day we need to find the  P(yes/sunny) =p(yes and sunny)/p(sunny)

prob_yes_given_sunny= prob_sunny_and_yes/prob_sunny
prob_yes_given_sunny

0.40000000000000013

## Bayes Theorem:
###                                                     P(A|B)*P(B)
###       P(B|A) =                   _______________________
###                                        P(A|B)*P(B)+P(A|B)*P(B)

Q. Find the probability of sunny when playing tennis 


P(sunny/yes)=    P(yes\sunny)P(sunny) / P(yes/sunny)*P(sunny) + P(yes/sunny)*P(sunny)

In [23]:
prob_not_sunny = 1- prob_sunny
prob_not_sunny

0.6428571428571428

In [24]:
prob_yes_given_not_sunny = 1- prob_yes_given_sunny
prob_yes_given_not_sunny

0.5999999999999999

In [25]:
# Bayes Theorem for prob of sunny given yes

Bayes_Numerator = prob_yes_given_sunny * prob_sunny
print("Bayes Numerator=",Bayes_Numerator)
Bayes_Denominator =  Bayes_Numerator +(prob_yes_given_not_sunny*prob_not_sunny)
print("Bayes Denominator=",Bayes_Denominator)

Bayes Numerator= 0.1428571428571429
Bayes Denominator= 0.5285714285714285

### Finally....

In [26]:
prob_sunny_given_yes= Bayes_Numerator / Bayes_Denominator
print("Probability of the day to be sunny when playing tennis is.....",prob_sunny_given_yes)

Probability of the day to be sunny when playing tennis is..... 0.2702702702702704